@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --pink3:#F778F7;
    --pink2: #A9C9FF;
    --pink1:#ffd700;
    --pink:linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    --primary-color: #5344db;
    --accent-color: #5344db;
    --grey:#484848;
    --bg-grey: #efefef;
    --shadow: #949494;
    
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:black;
    padding:1rem;
    margin:2rem 0;
    background: #FFBBEC 100%;
}

.heading span{
    color:white;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:#FFBBEC ;
    color: black;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:	var(--pink);
    padding:2rem 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .navbar .vip{

    width: 35px;
    height: 30px;
    position:relative;
    top:6px;
    left: 30px;
    
    
}

header .navbar .vip:hover{
    animation: shake 0.5s;

}


header .book{
    height:6%;
    width: 4%;
}


header .logo span{
    font-size: 3rem;
    color:#333;
    font-weight: bolder;
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:white;
}


header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}
.prod{
background-color: white;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color:#333;
}

.home .content span{
    font-size: 3rem;
    color:	#A9C9FF;
    padding:1rem 0;
    line-height: 1.3;
}

.home .content p{
    font-size: 1.4rem;
    color:#999;
    padding:1rem 0;
    line-height: 1.3;
}

.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width:100%;
    border:1rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:	var(--pink2) ;
}

.about .row .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}
.about2 .contact2 h1{
    font-size: 3rem;
    color:	var(--pink);
}
.about2 .content2 p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons{
    background:	#A9C9FF 0%;
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}

.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color:#333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
    color:#555;
    font-size: 1.3rem;
}


.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.products .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.1);
    position: relative;    
}

.products .box-container .box .discount{
    position: absolute;
    top:1rem; left:1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color:black;
    background:#cedef885;
    z-index: 1;
    border-radius: .5rem;
}

.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}

.products .box-container .box .image img{
    height:25rem;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right:0;
    display: flex;
}

.products .box-container .box:hover .image .icons{
    bottom:0;
}

.products .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width:50%;
    background:var(--pink);
    color:black;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}

.products .box-container .box .image .icons a:hover{
    background:var(--pink);
    color: white;
}

.products .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
}

.products .box-container .box .content .price{
    font-size: 2.5rem;
    color:var(--pink3);
    font-weight: bolder;
    padding-top: 1rem;
}

.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}



.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.review .box-container .box .user .jpg{
    border: 2px var(--pink2) solid;
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
    border:.1rem solid rgba(0,0,0,.1);
}

.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom:3rem; right:3rem;
    font-size: 6rem;
    color:#eee;
}

.review .box-container .box .stars i{
    color:var(--pink1);
    font-size: 2rem;
}

.review .box-container .box p{
    color:#999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color:#3a3a3a;
}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color:#999;
}

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--pink);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}
.footer {
    background-color: black;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    color:var(--pink2);
    font-size: 2.5rem;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    color:white;
    font-size: 1.5rem;
    padding:1rem 0;
}

.footer .box-container .box a:hover{
    color:var(--pink3);
    text-decoration: underline;
}

.footer .box-container .box  img{
    margin-top: 1rem;
}

.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}

.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}


.creditCardForm .heading1 h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}


.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}


.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
    

}
select{
    width: 117px;
    height: 39px;
    border: black solid 1px;
    border-radius: 4px;
    background-color: #cecece;
    background-image: linear-gradient(45deg, #cecece 33%, #ffffff 50%, #cecece 100%);

}

.creditCardForm .payment .form-control1 {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
    border: black solid 1px;
    border-radius: 4px;
    width: 380px;
    height: 35px;
}


.creditCardForm .payment .form-control2 {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
    border: black solid 1px;
    border-radius: 4px;
    width: 130px;
    height: 35px;
}



.creditCardForm .payment .form-control3 {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
    border: black solid 1px;
    border-radius: 4px;
    width: 519px;
    height: 35px;
}


.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;

}

.creditCardForm .CVV {
    width: 35%;

}

.creditCardForm #card-number-field {
    width: 100%;
}

.creditCardForm #expiration-date {
    width: 49%;
}

.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}

.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm .payment .form-group2 .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 24px;
    background-color: var(--pink);
    color: white;
}

.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}


.transparent {
    opacity: 0.2;
}




.containe{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.ro{
    display: flex;
    gap: 20px;
}

.col-6{
    width: 50%;
}

.single-product{
    width: 1080px;
    position: relative;
}



.single-product .breadcrumb{
    background: #48484810;
    padding: 8px 4px;
    border-radius: 8px;
    font-size: 15px;
}

.breadcrumb span{
    display: inline-flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 8px;
}
.breadcrumb span:not(:last-child)::after{
    content: '/';
}

.breadcrumb span a{
    text-decoration: none;
    color: var(--primary-color);
}


.single-product .product-image{
    width: 100%;
}

.product-image .product-image-main{
    position: relative;
    display: block;
    height: 480px;
    background: var(--bg-grey);
    padding: 10px;
}

.product-image-main img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-image-slider{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.product-image-slider img{
    width: 90px;
    height: 90px;
    background: var(--bg-grey);
    padding: 6px;
    cursor: pointer;
}



.produc-title{
    margin-top: 20px;

}
.produc-title h2{
    font-size: 32px;
    line-height: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}


.produc-rating{
    display: flex;
    margin-top: 4px;
    margin-bottom: 10px;
    align-items: center;
}

.produc-rating span:not(:last-child){
    color: var(--pink1);
}
.produc-rating .review{
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
}

.produc-price{
    display: flex;
    position: relative;
    margin: 10px 0;
    align-items: center;
}

.produc-price .offer-price{
    font-size: 48px;
    font-weight: 700;
}
.produc-price .sale-price{
    font-size: 22px;
    font-weight: 500;
    text-decoration: line-through;
    color: var(--grey);
    margin-left: 12px;
}


.produc-details{
    margin: 10px 0;
}
.produc-details h3{
    font-size: 18px;
    font-weight: 500;
}
.produc-details p{
    margin: 5px 0;
    font-size: 10px;
    line-height: 1.2rem;
}


.produc-size{
    margin: 10px 0;
}
.produc-size h4{
    font-size: 16px;
    font-weight: 500;
}

.produc-size .size-layout{
    margin: 5px 0;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.produc-size .size-layout .size-input{
    display: none;
}
.produc-size .size-layout .size{
    background: var(--bg-grey);
    padding: 10px 18px;
    border: 1px solid var(--bg-grey);
    border-radius: 4px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.produc-size .size-layout .size:hover{
    border: 1px solid var(--grey);
}

.produc-size .size-layout input[type="radio"]:checked + .size{
    background-color: rgb(35, 35, 35);
    border: 1px solid var(--grey);
    color: var(--bg-grey);
    box-shadow: 0 3px 6px var(--shadow);

}



.produc-color{
    margin: 10px 0;
    justify-content: center;
}
.produc-color h4{
    font-size: 16px;
    font-weight: 500;
}
.produc-color .color-layout{
    margin: 5px 0;
    display: flex;
    gap: 10px;
}

.produc-color .color-layout label{
    border-radius: 4px;
    cursor: pointer;
    content: '';
    width: 40px;
    height: 40px;
    display: inline-block;
}

.produc-color .color-layout .black{
    
    background-color: black;
}

.produc-color .color-layout .red{
    background-color: red;
}
.produc-color .color-layout .blue{
    background-color: blue;
}

.produc-color .color-layout .white{
    background-color: wheat;
}

.produc-color .color-layout .white2{
    background-color: white;
    border:1px solid black ;
}

.produc-color .color-layout input[type="radio"]:checked + label{
    box-shadow: 0 3px 6px var(--shadow);
}

.produc-color .color-layout .color-input{
    display: none;
}


.divid{
    display: block;
    height: 1px;
    width: 100%;
    background: #48484830;
    margin: 20px 0;
}

.product-btn-group2{
    display: flex;
    gap: 15px;
}
.product-btn-group2 .button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
}
.product-btn-group2 .buy-now{
    background-color: var(--pink3);
    color: #fff;
    border: 1px solid ;
    border-radius: 4px;
    cursor: pointer;
}

.product-btn-group2 .buy-now i{
    font-size: 15px;
}
.product-btn-group2 .buy-now:hover{
    box-shadow: 0 3px 6px var(--shadow);
}

.product-btn-group2 .add-cart{
    
    background-color: var(--bg-grey);
    color: var(--grey);
    border-radius: 4px;
    cursor: pointer;
}
.product-btn-group2 .add-cart i{
    font-size: 20px;
}
.product-btn-group2 .add-cart:hover{
    box-shadow: 0 3px 6px var(--shadow);
    background: var(--grey);
    color: #fff;
}


.vip .vipp{
   
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;

}
.vip .vipp .imge{
width: 650px;
position: relative;
left:25%;

}

.vip .vipp h1{

    font-size: 2.5rem;
    color: black;
    position: relative;
    left: 9.9%;
    top: 30px;
}

.vip .vipp a{
    position: relative;
    left: 43%;
}


.otp .otp1{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
    position: relative;
    top: 12rem;
}
.otp .otp1 .otp2 h1{
    font-size:2.8rem ;
    position: relative;
    right: 9rem;
}
.otp .otp1 .otp3 form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.otp .otp1 .otp3 form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.otp .otp1 .otp3 form .box:focus{
    border-color: var(--pink);
}
/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}

@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}

@media screen and (max-width:520px) {
    .containe{
        padding: 20px;
        height: auto;
    }
    .ro{
        display: block;
    }

    .col-6{
        width: 100%;
        display: block;
    }
    .single-product{
        width: 100%;
        position: relative;
    }

    .product-image .product-image-main{
        width: 100%;
        height: 280px;
    }
    .product-image-slider{
        gap: 5px;
    }

    .produc-title h2{
        font-size: 24px;
        line-height: 1.6rem;
    }
    .produc-size{
        display: block;
    }
    .produc-size .size-layout{
        display: block;
        margin: 10px 0;

    }
    .produc-size .size-layout .size{
        padding: 6px 10px;
    }
    .product-btn-group2{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media  (min-width: 520px ) and (max-width: 1080px) {
    .containe{
     display: block;
     height: auto;
     padding: 20px;
    }
     
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  } 
  